// Caractéristique header
.entete__header{
    background-image: url("images/Patagonia.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
}

.entete__header span{
    display: block;
}


