

body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    min-height: 40vh;
}


.global > section,
.global > header,
.global > footer{
    // flex : grow shrink basis
    flex: 0 1 var(--largeur-site);
//    background-color: rgba($color: #6b6b6b, $alpha: 0.2);
  
    padding: 5rem 1rem;
}

.global > header{
    flex: 0 1 1300px;
    margin-top: -5%;
    padding-bottom: 6%;
}

.citation{
    font-size: larger;
    color: black;
    font-family: auto;
    font-style: italic;
    box-shadow: 10px 5px 5px #5d4646;
    background-color: antiquewhite;
    padding: .5% 2% 3% 2%;
}


.citation p {
    color: black;
}

.btnFooter{
    background-color: var(--couleur-entete);
    width: 25%;
    height: 15%;
    font-family: fantasy;
    animation: boutonFooter2 1s forwards ;
    animation-timing-function: ease-in-out;
}

@keyframes boutonFooter2{
    from{
        background-color: var(--couleur-entete) ;
        transform: scale(115%);
        color: black;
    }
    
    to{
        
        background-color: black ;
        transform: scale(100%);
        color: white;
    }
    }

.btnFooter:hover{
   
    animation: boutonFooter 1s forwards ;
    animation-timing-function: ease-in-out;

}

@keyframes boutonFooter{
from{
    background-color: black ;
    transform: scale(100%);
    color: white;
}

to{
    background-color: var(--couleur-entete) ;
    transform: scale(115%);
    color: black;
}
}



#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
    
}
#acceuil{
    background-color: var(--couleur-arriere-acceuil);
    color: var(--couleur-acceuil);
   
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background : linear-gradient(180deg, var(--couleur-arriere-acceuil) 50%, var(--couleur-arriere-evenement)50%)
    
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
    
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    
}