:root {
    --couleur-arriere-entete: #dfdba9 ;
    --couleur-arriere-acceuil: #cc9999;
    --couleur-arriere-galerie: #bce2d1;
    --couleur-arriere-evenement: #c3bcd6;
    --couleur-arriere-footer: #9cbcbd;
    --transparence: 80%;
    --largeur-site: 900px;
  }

body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    min-height: 40vh;
}


.global > section,
.global > header,
.global > footer{
    // flex : grow shrink basis
    flex: 0 1 var(--largeur-site);
    border: 1px solid gray;
    background-color: rgba(#000, .05);
    padding: 5rem 1rem;
}

#entete{
    background-color: var(--couleur-arriere-entete);
}
#acceuil{
    background-color: var(--couleur-arriere-acceuil);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}