//////////////////////////////////////////// GLOBAL ///////////////////////////////
body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.global > section,
.global > header,
.global > footer{
 flex: 0 1 var(--largeur-site);
padding: 5rem 1rem;
}

.global > header{
    flex: 0 1 1300px;
    margin-top: -5%;
    padding-bottom: 6%;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
    
}
#acceuil{
    background-color: var(--couleur-arriere-acceuil);
    color: var(--couleur-acceuil);
   
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background : linear-gradient(180deg, var(--couleur-arriere-acceuil) 50%, var(--couleur-arriere-evenement)50%)
    
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
    
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    
}

//////////////////////////////////////////// ACCUEIL ///////////////////////////////

.citation{
    font-size: larger;
    color: black;
    font-family: auto;
    font-style: italic;
    box-shadow: 10px 5px 5px #5d4646;
    background-color: antiquewhite;
    padding: .5% 2% 3% 2%;
}

.citation p {
    color: black;
}

//////////////////////////////////////////// GALERIE ///////////////////////////////

.images img{
    height: 26%;
    width: 26%;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.liens__galerie{
    text-align: center;
    padding-bottom: 3%;
}

