:root {

    --couleur-arriere-entete : #ccc ;
    --couleur-arriere-acceuil : #dba7a7;
    --couleur-arriere-acceuil : #c47e7e;
    --couleur-arriere-evenement : #c04343;
    --couleur-arriere-footer : #3b9fa3;

}