:root {
    --transparence: 80%;
    --largeur-site: 900px;
    // --couleur-arriere-entete : #ccc ;
    // --couleur-arriere-acceuil : #dba7a7;
    // --couleur-arriere-acceuil : #c47e7e;
    // --couleur-arriere-evenement : #c04343;
    // --couleur-arriere-footer : #3b9fa3;

    --nb-element : 5;
    --increment-angle : calc(360/ var(--nb-element)); 
    // 360/5 = 72
    --angle-initial : 351;
    --hu1 : var(--angle-initial);
    --hu2 : calc(var(--hu1) + var(--increment-angle));
    --hu3 : calc(var(--hu2) + var(--increment-angle));
    --hu4 : calc(var(--hu3) + var(--increment-angle));
    --hu5 : calc(var(--hu4) + var(--increment-angle));

    // Couleur arrière plan
    --s-couleur-arriere : 89%; //saturation
    --l-couleur-arriere : 73%; //luminosité
    
    // COuleur avant plan
    --s-couleur : 100%; //saturation
    --l-couleur : 80%;  //luminosité

    --couleur-arriere-entete : hsl(var(--hu1), var(--s-couleur-arriere), var(--l-couleur-arriere)) ;
    --couleur-arriere-acceuil : hsl(var(--hu2), var(--s-couleur-arriere), var(--l-couleur-arriere));
    --couleur-arriere-galerie : hsl(var(--hu3), var(--s-couleur-arriere), var(--l-couleur-arriere));
    --couleur-arriere-evenement : hsl(var(--hu4), var(--s-couleur-arriere), var(--l-couleur-arriere));
    --couleur-arriere-footer : hsl(var(--hu5), var(--s-couleur-arriere), var(--l-couleur-arriere));

    --couleur-entete : hsl(var(--hu1), var(--s-couleur), 100%) ;
    --couleur-acceuil : hsl(var(--hu2), var(--s-couleur), var(--l-couleur));
    --couleur-galerie : hsl(var(--hu3), var(--s-couleur), var(--l-couleur));
    --couleur-evenement : hsl(var(--hu4), var(--s-couleur), var(--l-couleur));
    --couleur-footer : hsl(var(--hu5), var(--s-couleur), var(--l-couleur));
}