.section__cours{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 27%;
    background-color: var(--couleur-liens-visited);
    padding: 1rem;
    border-radius: 3%;
}

.carte h5{
    margin: 1%;
}

.carte:hover{
    scale: 105%;
}