.section__cours{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 calc(900px/4);
    background-color: var(--couleur-liens-visited);
    padding: 1rem;
    border-radius: 3%;
    padding-left: 2%;
    text-align: left;
}

.carte h5{
    margin: 1%;
}



.carte:hover{
    scale: 105%;
}

.carte .post-categories{
    list-style-type: none;
    text-align: left;
    padding: 0;
    font-weight: bold;
}

.carte .post-categories a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}