// Pour icone réseaux sociaux 
.sociaux{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.sociaux svg {
    fill: var(--couleur-bleu-fonce);
}

.sociaux svg:hover{
    scale: 120%;
}