
/* 
Sélecteur  textuelle de base
*/


h1 {
    font-size: clamp(1.5rem, -2.875rem + 14vw, 5rem);
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
      
      
    
}
h2 {
     font-size: clamp(1rem, -0.58rem + 6.29vw, 2.75rem);

}
h3 {
    font-size: clamp(1rem, -0.58rem + 3.29vw, 1.75rem);
    color: rgb(87 107 73 / var(--transparence));
}
h4 {
    font-size: clamp(1rem, -0.58rem + 3.29vw, 1.75rem);
    color: rgb(87 95 73/var(--transparence));
}
h5 {
    font-size: clamp(1rem, -1.58rem + 3.29vw, 1.75rem);
    color : rgba($color: #9f6039, $alpha: 1.0)
}
h6 {
    font-size: clamp(1rem, -1.58rem + 1.29vw, 1.75rem);
    color: rgb(59, 0, 0, var(--transparence));
}

p {
    font-size: clamp(1rem, 2.42rem + 4.29vw, 1.75rem);
    color: rgb(59, 62, 97, var(--transparence));
}

hr {
    font-size: clamp(1rem, 2.42rem + 4.29vw, 1.75rem);
    color: rgb(59, 62, 97, var(--transparence));
}

a{
    color: var(--couleur-entete);
}